html, body{
    padding:0px;
    margin:0px;
    background-color:rgb(242, 245, 239);

   color: rgb(27, 27, 26);
    font-family: 'Lato', sans-serif;
    width:100vw;
 }
 body * {
    margin:0;
    padding:0;
 }
 header.main-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    background-color: rgb(46, 46, 45);
 }
 h1.name a {
    color: #fff;
    text-decoration: none;
   display: block;
   padding: .5em;
 }
 /* HTML Nav Styles */
 /* HTML Nav Styles */
 /* HTML Nav Styles */
 nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
 }
 
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 nav > menu { display:flex; }
 
 nav > menu > menuitem { pointer-events: all; opacity:1; }
 menu menuitem a { white-space:nowrap; display:block; }
    
 menuitem:hover > menu {
    pointer-events:initial;
 }
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:1;
 }
 nav > menu > menuitem menuitem menu {
    transform:translateX(100%);
    top:0; right:0;
 }
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 /* User Styles Below Not Required */
 
 nav { 
    margin-top: 40px;
    margin-left: 40px;
 }
 
 nav a {
    background:rgb(38, 5, 187);
    color:#FFF;
    min-width:190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:20px 40px;
    box-sizing:border-box;
    border-radius:3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position:relative;
    text-decoration: none;
 }
 
 nav a:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }
 
 nav > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-top: 10px solid white;
    left:12px;
    top: -40px;  
 }
 nav menuitem > menu > menuitem > a + menu:after{ 
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left:-180px;
    transition: opacity 0.6, transform 0s;
 }
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }
 
/* ================================= 
  Media Queries
==================================== */


/* Extremely tiny devices (360px and down) */

@media only screen and (max-width: 360px) {
   body {
       font-size: 1rem;
       line-height: 1;
   }
   header.main-header {
       height: 320px;
   }
   h1.name a {
       font-size: 3rem;
   }
   div.hero h2 {
       font-size: 2.5rem;
   }
   p {
       width: auto;
       font-size: .5rem;
       margin-bottom: 1.8em;
       color: rgb(13, 26, 0);
   }
   div.container h2,
   div.primary-col h2,
   div.secondary-col h2 {
       font-size: 0.5rem;
       color: rgb(13, 26, 0);
   }
   p.details {
       font-size: .6rem;
       color: rgb(13, 26, 0);
   }
   p.description {
       font-size: .5rem;
       color: rgb(13, 26, 0);
       padding: 2.5rem;
   }
   ul.top-nav {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       justify-content: center;
   }
   button.dropbtn {
       width: 4rem;
   }
   ul.top-nav li a,
   div.dropdown-content li a,
   button.dropbtn {
       margin: 0.25rem;
       font-size: 0.4rem;
   }
   ul.detail-list li {
       font-size: 1.5rem;
       color: rgb(13, 26, 0);
   }
   h3.accomplish {
       font-size: 1.85rem;
       color: rgb(13, 26, 0);
   }
   dd.exhibit {
       margin-top: 3%;
   }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
   body {
       font-size: 1.15rem;
   }
   h1.name a {
       font-size: 2rem;
   }
   h2.headline {
       font-size: 1.35rem;
   }
   ul.top-nav {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       justify-content: center;
   }
   button.dropbtn {
       width: 5rem;
   }
   div.dropdown-content a {
       padding: 0.5rem;
   }
   ul.top-nav li a,
   div.dropdown-content li a,
   button.dropbtn {
       margin: 2px;
       font-size: 1rem;
       border-style: none;
   }
   div.container h2,
   div.secondary-col h2 div.primary-col h2,
   p.description {
       font-size: 1.25rem;
   }
   ul.detail-list {
       margin-top: 1.5vh;
   }
   ul.detail-list li {
       font-size: 1.5rem;
   }
   p.details {
       font-size: 0.75rem;
   }
   p {
       font-size: 1.15rem;
       display: inline-block;
       margin-bottom: 2em;
   }
   h3.accomplish {
       font-size: 1.5rem;
   }
   dd.exhibit {
       margin-top: 4%;
   }
   footer p {
       font-size: 1rem;
   }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
   body {
       font-size: 1rem;
   }
   header.main-header {
       height: 600px;
   }
   h1 {
       font-size: 2.25rem;
   }
   h1.name a {
       font-size: 2.5rem;
   }
   header h2.headline {
       font-size: 1.75rem;
   }
   p {
       font-size: 1.75rem;
       margin-bottom: 1.8em;
   }
   h3.accomplish {
       font-size: 3.5rem;
   }
   dt.year {
       font-size: 1.75rem;
   }
   div.container h2,
   div.primary-col h2,
   div.secondary-col h2 {
       font-size: 1.25rem;
   }
   ul.detail-list {
       margin-top: .5vh;
   }
   ul.detail-list li {
       font-size: 1.75rem;
   }
   ul.top-nav {
       margin-right: 4.5rem;
   }
   button.dropbtn {
       width: 6rem;
   }
   ul.top-nav li a,
   div.dropdown-content li a,
   button.dropbtn {
       margin: 2px;
       font-size: 1.5rem;
       border-style: none;
   }
   dl.row {
       font-size: 4rem;
   }
   dt.year {
       font-size: 2.25rem;
       line-height: 2.75;
   }
   dd.exhibit {
       font-size: 2.5rem;
       line-height: 1.75;
   }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 769px) {
   .main-header {
       justify-content: flex-end;
   }
   h1.name a {
       font-size: 4.25rem;
   }
   header h2.headline {
       font-size: 2.75rem;
   }
   p {
       font-size: 1.5rem;
       margin-bottom: 1.8em;
   }
   ul.top-nav li {
       font-size: 1rem;
   }
   button.dropbtn {
       width: 7rem;
   }
   ul.top-nav li a,
   div.dropdown-content li a,
   button.dropbtn {
       /* margin: 2px; */
       font-size: 1.75rem;
       border-style: none;
   }
   */ ul.detail-list li {
       font-size: 3.75rem;
   }
   p.description {
       font-size: 2rem;
   }
   p.concept {
       font-size: 3.75rem;
       color: rgb(26, 50, 1);
   }
   aside {
       max-width: 60%;
   }
   h3.accomplish {
       font-size: 2.75rem;
   }
   dt.year {
       font-size: 2rem;
       line-height: 2.15;
   }
   dd.exhibit {
       font-size: 1.75rem;
       line-height: 2;
   }
}


/* Large devices (laptops/desktops, 1025px and up) */

@media only screen and (min-width: 1025px) {
   body {
       font-size: 1rem;
   }
   h2.headline {
       font-size: 2.75rem;
   }
   .top-nav {
       flex-direction: row;
       /* align-items:    the navigation is aligned right */
   }
   div.primary-col h2 {
       font-size: 2.25rem;
   }
   p.description {
       font-size: 2.5rem;
   }
   p.concept {
       font-size: 1.25rem;
   }
   button.dropbtn {
       width: 8rem;
   }
   ul.top-nav li a {
       font-size: 1.5rem;
   }
   dt.year {
       font-size: 2.15rem;
   }
   dd.exhibit {
       font-size: 2rem;
       line-height: 1.5;
   }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
   body {
       font-size: 3.5rem;
       line-height: 1.1;
   }

   h2.headline {
       font-size: 2.5rem;
   }
   ul.top-nav li a,
   button.dropbtn {
       border-style: none;
       font-size: 2.25rem;
   }
   div.dropdown-content {
       width: 10rem;
   }
   div.dropdown-content a {
       padding: 1.75rem;
   }
   p.description {
       font-size: 3rem;
   }
   p.details {
       font-size: 1.5rem;
       padding-top: 0.1rem;
       margin-top: 0.1rem;
       line-height: 1;
   }
   dt.year {
       font-size: 1.5rem;
   }
   dd.exhibit {
       font-size: 1.25rem;
       line-height: 1.25;
   }
}